Dataset/1/
Dataset/54/
Dataset/hdfs_train0
Dataset/hdfs_train1
Dataset/hdfs_train2
Dataset/hdfs_train3
Drain_result/
etc/
images/federated/
Model/
__pycache__/
Spell_result/
wandb/
.ipynb_checkpoints/
detectionv1.ipynb
detectionv2.ipynb
detectionv4.ipynb
parser_es.py
practicum_test_1.sh
test_ES.ipynb
test_parser.ipynb
*.txt
*log
*.csv

